{
  "env": {
    "production": {
      "presets": [
        [
          "env", {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        [ "env" ]
      ]
    }
  }
}