$container-width: 30%;
$container-height: 95%;
$icon-selected: "☑ ";
$icon-unselected: "☐ ";
$icon-root: "≡";
$icon-leaf-path: "⋅⋅⋅⋅⋅⋅⋅⋅";
$icon-node-path: "⋅⋅⋅⋅⋅⋅⋅⊳";
$background-color: lightgrey;
$zindex: 100;
